<!doctype html>
<html>
    <head>
        <!-- 
        <style>
            .flash {
                color: red;
                font-style: italic;
            }
        </style> 
        -->
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <title>{{ post_title }}</title>
    </head>
<body>

    <div class="navigation">
        <a href='/'>Home</a> <a href='/blog'>All Posts</a> <a href='/newpost'>New Post</a> <a href='/login'>Log In</a> <a href='/logout'>Log Out</a>
    </div> 


    {% block content %}
    {% endblock %}

    </br>   

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash">
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

</body>
</html>