{% extends "base.html" %}

{% block content %}
    <h1>Add a Blog Entry</h1>
    <form method='post' action='/newpost'>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash">
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}


        <label>
            Title for your new blog:
            <input type="text" name='posttitle' {% if posttitle %} value="{{ posttitle }}" {% endif %}/>
        </label>
        </br>
        <label>
            Your new blog:
            <textarea name='body'>{% if body %} {{ body }} {% endif %}</textarea>
        </label>
        <input type="submit" value='Add Entry' />
    </form>
{% endblock %}