html {
    font-family: sans-serif;
}

h1 {
    color: green;
}

.flash {
    color: red;
    font-style: italic;
}


/*
div {
    margin: 15px 0px;
}


div {
    color: red;
    font-style: italic;
}
*/