html {
    font-family: sans-serif;
}

h1 {
    color: green;
}

/*
div {
    margin: 15px 0px;
}


div {
    color: red;
    font-style: italic;
}
*/

#flashes {
    color: red;
    font-style: italic;
}